@using DataLayer.Entities
@model Restaurant

<div class="col-sm-3">
    <div class="card my-3">
        <img src="~/img/@Url.Content(Model.Id.ToString() + ".jpg")" class="img-fluid" />
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Location</p>
            <p class="card-text">@Model.Cuisine</p>
        </div>
        <div class="card-footer text-muted">
            <a asp-page="./Detail" asp-route-restaurantId="@Model.Id">
                <i class="fas fa-info-circle"></i>
            </a>
            <a asp-page="./Edit" asp-route-restaurantId="@Model.Id">
                <i class="fas fa-edit"></i>
            </a>
            <a asp-page="./Delete" asp-route-restaurantId="@Model.Id">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
</div>