@page
@model OdeToFoodWebApp.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="search" asp-for="@Model.SearchTerm" class="form-control">
        <div class="input-group-append">
            <select asp-for="@Model.PageSize"
                    asp-items="Html.GetEnumSelectList<OdeToFoodWebApp.Pages.Restaurants.ListModel.PageSizeEnum>()"
                    class="custom-select">
                <option value="">Pagesize</option>
            </select>
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Cuisine)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Location</td>
                <td>@restaurant.Cuisine</td>
                <td>
                        <a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
            </tr>
        }
    </tbody>
</table>



<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page=""
                   asp-route-currentpage="@i" 
                   asp-route-searchTerm="@Model.SearchTerm" 
                   asp-route-pageSize="@Model.PageSize"
                   class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
